/* Style Sheet for Home Page */


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Navigation Area */ 
.logo {
	color: rgb(266, 266, 266);
	text-transform: uppercase;
	letter-spacing:  5px;
	font-size: 20px;
	/* 
	display: flex;
	justify-content: space-around;
	width: 30%;
	*/
	margin: 1.5rem; 
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* min-height: 10vh; */
	background-color: rgb(12, 12, 12);  
	font-family: 'Poppins', sans-serif;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(266, 266, 266);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover {
	color: #e29e62;
}  

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}


/* Main Area */
body {
	margin:0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: #926239;
	line-height: 1.3;
}

#showcase {
	background-image: url('../PersonalWebsite/img/Beach.jpg');
	background-size: cover;
	height: 100vh;   /* View Port Height (vh) */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#showcase h1 {
	font-size: 50px;
	font-family: 'Cormorant SC', serif;
}

#showcase h2 {
	font-size: 30px;
	font-family: 'Cormorant SC', serif;
}


/* Footer */
#main-footer {
	font-family: 'Times New Roman', Times, serif;
	padding: 2em;
	background: #000;
	color: #fff;
	text-align: center;
}


/* Media Queries */ 
@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;  /* Hide Scroll capability */
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 100vh;
		top: 0vh;
		background-color: rgb(17, 17, 17);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		opacity: 0.9;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		margin: 1.0rem;
	}

	#showcase h1, h2 {
		display: none;
	}

	.nav-links a:active {
		color: #e29e62;
	}   
}

.nav-active {
	transform: translateX(0%);  /* shows nav when burger is clicked */
}



@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


/* Hamburger Toggle */
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}