
/* CSS for Home Page */


header {
	text-align: center;
	/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
	padding: 10px;
	height: 20px;
	background-color: black;
	border:1px solid white;
	border-radius: 5px;
	margin-left: 200px;
	margin-right: 200px;
   /* box-shadow: black 0 0 10px;*/
}

header a {
	color: white;
	text-decoration: none;
	margin-top: 40px;
}

a:hover {
	color: gold;
}

a { text-decoration: none; }

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	display: inline-block;
	margin-right: 40px;
	margin-left: 40px;
}
	
p {
	color: gold;
	font-size: 60px;
}

body {

	background-image: url(../PersonalWebsite/img/bck.jpg);
    background-size: fill;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1000px) {

}